# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# IDE settings
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Mac OS
.DS_Store
